{% extends "base.html" %}
{% block main %}
    <div class="container">
        <h1>Welcome to the Project Tracking App!</h1>
        <div class="options">
            <a href="{{ url_for('show_teams') }}" class="normal-btn">Show Teams</a>
            <a href="{{ url_for('show_projects') }}" class="normal-btn">Show Projects</a>
            <a href="{{ url_for('add_new_team') }}" class="normal-btn">Add Team</a>
            <a href="{{ url_for ('add_new_project') }}" class="normal-btn">Add Project</a> 
        </div>
    </div>

{% endblock %}